##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

! special colors
*.foreground:  #d6d6bb
*.background:  #3b3b53
*.cursorColor:  #d6d6bb
! black
*.color0:      #54458E
*.color8:      #e890c7
! red
*.color1:      #31c2ee
*.color9:      #88daf8
! green
*.color2:      #51edce
*.color10:     #a4eeb2
! yellow
*.color3:      #ff8a8a
*.color11:     #a6a6de
! blue
*.color4:      #636356
*.color12:     #73bcc7
! magenta
*.color5:      #888876
*.color13:     #f38e69
! cyan
*.color6:      #b3b39c
*.color14:     #56d3e7
! white
*.color7:      #e4e4c7
*.color15:     #deacff

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:Noto Sans UI:pixelsize=14
URxvt.letterSpace: -4

*antialias:  true
*autohint:   true

